In [1]:
import pandas as pd

In [3]:
data = pd.read_excel("Raahen_ostolaskudata_2024_10.xlsx")

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49434 entries, 0 to 49433
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Kuntanro              49434 non-null  int64
 1   Kunta                 49434 non-null  object
 2   Y-tunnus              49434 non-null  object
 3   TOSITE                49434 non-null  object
 4   Toimittaja            49434 non-null  object
 5   Y-TUNNUS              48293 non-null  object
 6   Maakoodi              49434 non-null  object
 7   VEROTON RIVIN OSUUS   49434 non-null  float64
 8   TOSITEPÄIVÄ           49434 non-null  int64
 9   TILI                  49434 non-null  int64
 10  TILIN NIMI            49434 non-null  object
 11  Palveluluokka         47186 non-null  float64
 12  SUMMA                 49434 non-null  float64
 13  ALV-KOODI             49023 non-null  float64
 14  VERO RIVIN OSUUS      49434 non-null  float64
 15  Kustannuspaikka       49434 non-null  object
 16  Kustannuspaikan nimi  49434 non-null  object
dtypes: float64(5), int64(3), object(9)
memory usage: 6.4+ MB

In [5]:
data.head(10)

,Kuntanro,Kunta,Y-tunnus,TOSITE,Toimittaja,Y-TUNNUS,Maakoodi,VEROTON RIVIN OSUUS,TOSITEPÄIVÄ,TILI,TILIN NIMI,Palveluluokka,SUMMA,ALV-KOODI,VERO RIVIN OSUUS,Kustannuspaikka,Kustannuspaikan nimi
0,678,Raahen kaupunki,1791817-6,25_1,SIEMENS FINANCIAL SERVICES OY,2008697-2,FI,532.39,240101,4830,Koneiden ja laitteiden vuokrat,5501.0,660.16,35.0,127.77,5130,Kone- ja kuljetustoiminta
1,678,Raahen kaupunki,1791817-6,25_2,GRENKELEASING OY,2170416-2,FI,13.01,240101,4341,Toimistopalvelut,5501.0,113.01,10.0,0.00,1161,Henkilöstöpalvelut
2,678,Raahen kaupunki,1791817-6,25_2,GRENKELEASING OY,2170416-2,FI,100.00,240101,4890,Muut vuokrat,3251.0,113.01,10.0,0.00,2090,Raahe-opisto
3,678,Raahen kaupunki,1791817-6,25_3,GRENKELEASING OY,2170416-2,FI,13.01,240101,4341,Toimistopalvelut,5501.0,113.01,10.0,0.00,1161,Henkilöstöpalvelut
4,678,Raahen kaupunki,1791817-6,25_3,GRENKELEASING OY,2170416-2,FI,100.00,240101,4890,Muut vuokrat,3021.0,113.01,10.0,0.00,3117,Lybeckerinpuiston päiväkoti
5,678,Raahen kaupunki,1791817-6,25_4,GRENKELEASING OY,2170416-2,FI,13.01,240101,4341,Toimistopalvelut,5501.0,113.01,10.0,0.00,1161,Henkilöstöpalvelut
6,678,Raahen kaupunki,1791817-6,25_4,GRENKELEASING OY,2170416-2,FI,100.00,240101,4890,Muut vuokrat,3021.0,113.01,10.0,0.00,3117,Lybeckerinpuiston päiväkoti
7,678,Raahen kaupunki,1791817-6,25_5,GRENKELEASING OY,2170416-2,FI,13.01,240101,4341,Toimistopalvelut,5501.0,113.01,10.0,0.00,1161,Henkilöstöpalvelut
8,678,Raahen kaupunki,1791817-6,25_5,GRENKELEASING OY,2170416-2,FI,50.00,240101,4890,Muut vuokrat,3021.0,113.01,10.0,0.00,3117,Lybeckerinpuiston päiväkoti
9,678,Raahen kaupunki,1791817-6,25_5,GRENKELEASING OY,2170416-2,FI,50.00,240101,4890,Muut vuokrat,3041.0,113.01,10.0,0.00,3272,Lybeckerin päiväk:n esiopetus

In [21]:
data.columns = ['kuntanro', 'kunta', 'kunta_y-tunnus', 'tosite', 'toimittaja', 'toim_y-tunnus', 'maakoodi',
             'veroton_osuus', 'tositepv', 'tili', 'tilin_nimi', 'palveluluokka', 'summa', 'alv-koodi',
             'veron_osuus', 'kustannuspaikka', 'kustannuspaikan_nimi']

In [22]:
data

,kuntanro,kunta,kunta_y-tunnus,tosite,toimittaja,toim_y-tunnus,maakoodi,veroton_osuus,tositepv,tili,tilin_nimi,palveluluokka,summa,alv-koodi,veron_osuus,kustannuspaikka,kustannuspaikan_nimi
0,678,Raahen kaupunki,1791817-6,25_1,SIEMENS FINANCIAL SERVICES OY,2008697-2,FI,532.39,240101,4830,Koneiden ja laitteiden vuokrat,5501.0,660.16,35.0,127.77,5130,Kone- ja kuljetustoiminta
1,678,Raahen kaupunki,1791817-6,25_2,GRENKELEASING OY,2170416-2,FI,13.01,240101,4341,Toimistopalvelut,5501.0,113.01,10.0,0.00,1161,Henkilöstöpalvelut
2,678,Raahen kaupunki,1791817-6,25_2,GRENKELEASING OY,2170416-2,FI,100.00,240101,4890,Muut vuokrat,3251.0,113.01,10.0,0.00,2090,Raahe-opisto
3,678,Raahen kaupunki,1791817-6,25_3,GRENKELEASING OY,2170416-2,FI,13.01,240101,4341,Toimistopalvelut,5501.0,113.01,10.0,0.00,1161,Henkilöstöpalvelut
4,678,Raahen kaupunki,1791817-6,25_3,GRENKELEASING OY,2170416-2,FI,100.00,240101,4890,Muut vuokrat,3021.0,113.01,10.0,0.00,3117,Lybeckerinpuiston päiväkoti
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49429,678,Raahen kaupunki,1791817-6,25_27061,RIVENTS OY,2811063-1,FI,140.00,241216,4470,Muut palvelut,NaN,527.10,36.0,35.70,5449,Liikunnallinen elämäntapa
49430,678,Raahen kaupunki,1791817-6,25_27061,RIVENTS OY,2811063-1,FI,140.00,241216,4470,Muut palvelut,NaN,527.10,36.0,35.70,5449,Liikunnallinen elämäntapa
49431,678,Raahen kaupunki,1791817-6,25_27061,RIVENTS OY,2811063-1,FI,140.00,241216,4470,Muut palvelut,NaN,527.10,36.0,35.70,5449,Liikunnallinen elämäntapa
49432,678,Raahen kaupunki,1791817-6,25_27062,TYRNÄVÄN KUNTA,0190140-9,FI,5777.03,241231,2569,Muut velat,NaN,5777.03,10.0,0.00,,
49433,678,Raahen kaupunki,1791817-6,25_27063,RAAHEN NAISVOIMISTELIJAT,1461382-8,FI,50.00,241231,4830,Koneiden ja laitteiden vuokrat,3901.0,50.00,10.0,0.00,2610,Kulttuuri/hallinto

In [65]:
laskut = ['kunta_y-tunnus', 'tosite', 'toim_y-tunnus', 'veroton_osuus', 'tositepv', 'tili', 'palveluluokka', 'summa', 'alv-koodi', 'veron_osuus', 'kustannuspaikka']

In [66]:
lasku_data = data[laskut]

In [67]:
lasku_data

,kunta_y-tunnus,tosite,toim_y-tunnus,veroton_osuus,tositepv,tili,palveluluokka,summa,alv-koodi,veron_osuus,kustannuspaikka
0,1791817-6,25_1,2008697-2,532.39,240101,4830,5501.0,660.16,35.0,127.77,5130
1,1791817-6,25_2,2170416-2,13.01,240101,4341,5501.0,113.01,10.0,0.00,1161
2,1791817-6,25_2,2170416-2,100.00,240101,4890,3251.0,113.01,10.0,0.00,2090
3,1791817-6,25_3,2170416-2,13.01,240101,4341,5501.0,113.01,10.0,0.00,1161
4,1791817-6,25_3,2170416-2,100.00,240101,4890,3021.0,113.01,10.0,0.00,3117
...,...,...,...,...,...,...,...,...,...,...,...
49429,1791817-6,25_27061,2811063-1,140.00,241216,4470,NaN,527.10,36.0,35.70,5449
49430,1791817-6,25_27061,2811063-1,140.00,241216,4470,NaN,527.10,36.0,35.70,5449
49431,1791817-6,25_27061,2811063-1,140.00,241216,4470,NaN,527.10,36.0,35.70,5449
49432,1791817-6,25_27062,0190140-9,5777.03,241231,2569,NaN,5777.03,10.0,0.00,
49433,1791817-6,25_27063,1461382-8,50.00,241231,4830,3901.0,50.00,10.0,0.00,2610

In [68]:
lasku_data['tositepv'] = pd.to_datetime(lasku_data['tositepv'], format='%y%m%d')

/tmp/ipykernel_22640/338579595.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lasku_data['tositepv'] = pd.to_datetime(lasku_data['tositepv'], format='%y%m%d')

In [69]:
lasku_data

,kunta_y-tunnus,tosite,toim_y-tunnus,veroton_osuus,tositepv,tili,palveluluokka,summa,alv-koodi,veron_osuus,kustannuspaikka
0,1791817-6,25_1,2008697-2,532.39,2024-01-01,4830,5501.0,660.16,35.0,127.77,5130
1,1791817-6,25_2,2170416-2,13.01,2024-01-01,4341,5501.0,113.01,10.0,0.00,1161
2,1791817-6,25_2,2170416-2,100.00,2024-01-01,4890,3251.0,113.01,10.0,0.00,2090
3,1791817-6,25_3,2170416-2,13.01,2024-01-01,4341,5501.0,113.01,10.0,0.00,1161
4,1791817-6,25_3,2170416-2,100.00,2024-01-01,4890,3021.0,113.01,10.0,0.00,3117
...,...,...,...,...,...,...,...,...,...,...,...
49429,1791817-6,25_27061,2811063-1,140.00,2024-12-16,4470,NaN,527.10,36.0,35.70,5449
49430,1791817-6,25_27061,2811063-1,140.00,2024-12-16,4470,NaN,527.10,36.0,35.70,5449
49431,1791817-6,25_27061,2811063-1,140.00,2024-12-16,4470,NaN,527.10,36.0,35.70,5449
49432,1791817-6,25_27062,0190140-9,5777.03,2024-12-31,2569,NaN,5777.03,10.0,0.00,
49433,1791817-6,25_27063,1461382-8,50.00,2024-12-31,4830,3901.0,50.00,10.0,0.00,2610

In [70]:
lasku_data.to_csv('lasku_data.csv', index=False)

In [33]:
data

,kuntanro,kunta,kunta_y-tunnus,tosite,toimittaja,toim_y-tunnus,maakoodi,veroton_osuus,tositepv,tili,tilin_nimi,palveluluokka,summa,alv-koodi,veron_osuus,kustannuspaikka,kustannuspaikan_nimi
0,678,Raahen kaupunki,1791817-6,25_1,SIEMENS FINANCIAL SERVICES OY,2008697-2,FI,532.39,240101,4830,Koneiden ja laitteiden vuokrat,5501.0,660.16,35.0,127.77,5130,Kone- ja kuljetustoiminta
1,678,Raahen kaupunki,1791817-6,25_2,GRENKELEASING OY,2170416-2,FI,13.01,240101,4341,Toimistopalvelut,5501.0,113.01,10.0,0.00,1161,Henkilöstöpalvelut
2,678,Raahen kaupunki,1791817-6,25_2,GRENKELEASING OY,2170416-2,FI,100.00,240101,4890,Muut vuokrat,3251.0,113.01,10.0,0.00,2090,Raahe-opisto
3,678,Raahen kaupunki,1791817-6,25_3,GRENKELEASING OY,2170416-2,FI,13.01,240101,4341,Toimistopalvelut,5501.0,113.01,10.0,0.00,1161,Henkilöstöpalvelut
4,678,Raahen kaupunki,1791817-6,25_3,GRENKELEASING OY,2170416-2,FI,100.00,240101,4890,Muut vuokrat,3021.0,113.01,10.0,0.00,3117,Lybeckerinpuiston päiväkoti
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49429,678,Raahen kaupunki,1791817-6,25_27061,RIVENTS OY,2811063-1,FI,140.00,241216,4470,Muut palvelut,NaN,527.10,36.0,35.70,5449,Liikunnallinen elämäntapa
49430,678,Raahen kaupunki,1791817-6,25_27061,RIVENTS OY,2811063-1,FI,140.00,241216,4470,Muut palvelut,NaN,527.10,36.0,35.70,5449,Liikunnallinen elämäntapa
49431,678,Raahen kaupunki,1791817-6,25_27061,RIVENTS OY,2811063-1,FI,140.00,241216,4470,Muut palvelut,NaN,527.10,36.0,35.70,5449,Liikunnallinen elämäntapa
49432,678,Raahen kaupunki,1791817-6,25_27062,TYRNÄVÄN KUNTA,0190140-9,FI,5777.03,241231,2569,Muut velat,NaN,5777.03,10.0,0.00,,
49433,678,Raahen kaupunki,1791817-6,25_27063,RAAHEN NAISVOIMISTELIJAT,1461382-8,FI,50.00,241231,4830,Koneiden ja laitteiden vuokrat,3901.0,50.00,10.0,0.00,2610,Kulttuuri/hallinto

In [35]:
toimittajat = ['toimittaja', 'toim_y-tunnus', 'maakoodi']

In [43]:
toim_data = data[toimittajat]

In [44]:
toim_data

                          toimittaja toim_y-tunnus maakoodi
0      SIEMENS FINANCIAL SERVICES OY     2008697-2       FI
1                   GRENKELEASING OY     2170416-2       FI
2                   GRENKELEASING OY     2170416-2       FI
3                   GRENKELEASING OY     2170416-2       FI
4                   GRENKELEASING OY     2170416-2       FI
...                              ...           ...      ...
49429                     RIVENTS OY     2811063-1       FI
49430                     RIVENTS OY     2811063-1       FI
49431                     RIVENTS OY     2811063-1       FI
49432                 TYRNÄVÄN KUNTA     0190140-9       FI
49433       RAAHEN NAISVOIMISTELIJAT     1461382-8       FI

[49434 rows x 3 columns]

In [45]:
toim_data.drop_duplicates(inplace=True)

/tmp/ipykernel_22640/3174328145.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  toim_data.drop_duplicates(inplace=True)

In [49]:
toim_data

                          toimittaja toim_y-tunnus maakoodi
0      SIEMENS FINANCIAL SERVICES OY     2008697-2       FI
1                   GRENKELEASING OY     2170416-2       FI
20               POHJOLA VAKUUTUS OY     1458359-3       FI
105        POHJOIS-POHJANMAAN LIITTO     0922484-4       FI
108                       PARMACO OY     2465039-0       FI
...                              ...           ...      ...
49249                 LUMIJOEN KUNTA     0186580-7       FI
49287                  MIKKO KESÄ OY     2242487-5       FI
49390              MIKKELIN KAUPUNKI     0165116-3       FI
49429                     RIVENTS OY     2811063-1       FI
49432                 TYRNÄVÄN KUNTA     0190140-9       FI

[1359 rows x 3 columns]

In [50]:
toim_data.to_csv('toim_data.csv', index=False)

In [52]:
data.head(20)

,kuntanro,kunta,kunta_y-tunnus,tosite,toimittaja,toim_y-tunnus,maakoodi,veroton_osuus,tositepv,tili,tilin_nimi,palveluluokka,summa,alv-koodi,veron_osuus,kustannuspaikka,kustannuspaikan_nimi
0,678,Raahen kaupunki,1791817-6,25_1,SIEMENS FINANCIAL SERVICES OY,2008697-2,FI,532.39,240101,4830,Koneiden ja laitteiden vuokrat,5501.0,660.16,35.0,127.77,5130,Kone- ja kuljetustoiminta
1,678,Raahen kaupunki,1791817-6,25_2,GRENKELEASING OY,2170416-2,FI,13.01,240101,4341,Toimistopalvelut,5501.0,113.01,10.0,0.00,1161,Henkilöstöpalvelut
2,678,Raahen kaupunki,1791817-6,25_2,GRENKELEASING OY,2170416-2,FI,100.00,240101,4890,Muut vuokrat,3251.0,113.01,10.0,0.00,2090,Raahe-opisto
3,678,Raahen kaupunki,1791817-6,25_3,GRENKELEASING OY,2170416-2,FI,13.01,240101,4341,Toimistopalvelut,5501.0,113.01,10.0,0.00,1161,Henkilöstöpalvelut
4,678,Raahen kaupunki,1791817-6,25_3,GRENKELEASING OY,2170416-2,FI,100.00,240101,4890,Muut vuokrat,3021.0,113.01,10.0,0.00,3117,Lybeckerinpuiston päiväkoti
5,678,Raahen kaupunki,1791817-6,25_4,GRENKELEASING OY,2170416-2,FI,13.01,240101,4341,Toimistopalvelut,5501.0,113.01,10.0,0.00,1161,Henkilöstöpalvelut
6,678,Raahen kaupunki,1791817-6,25_4,GRENKELEASING OY,2170416-2,FI,100.00,240101,4890,Muut vuokrat,3021.0,113.01,10.0,0.00,3117,Lybeckerinpuiston päiväkoti
7,678,Raahen kaupunki,1791817-6,25_5,GRENKELEASING OY,2170416-2,FI,13.01,240101,4341,Toimistopalvelut,5501.0,113.01,10.0,0.00,1161,Henkilöstöpalvelut
8,678,Raahen kaupunki,1791817-6,25_5,GRENKELEASING OY,2170416-2,FI,50.00,240101,4890,Muut vuokrat,3021.0,113.01,10.0,0.00,3117,Lybeckerinpuiston päiväkoti
9,678,Raahen kaupunki,1791817-6,25_5,GRENKELEASING OY,2170416-2,FI,50.00,240101,4890,Muut vuokrat,3041.0,113.01,10.0,0.00,3272,Lybeckerin päiväk:n esiopetus
10,678,Raahen kaupunki,1791817-6,25_6,GRENKELEASING OY,2170416-2,FI,13.01,240101,4341,Toimistopalvelut,5501.0,113.01,10.0,0.00,1161,Henkilöstöpalvelut
11,678,Raahen kaupunki,1791817-6,25_6,GRENKELEASING OY,2170416-2,FI,100.00,240101,4890,Muut vuokrat,3021.0,113.01,10.0,0.00,3117,Lybeckerinpuiston päiväkoti
12,678,Raahen kaupunki,1791817-6,25_7,GRENKELEASING OY,2170416-2,FI,13.01,240101,4341,Toimistopalvelut,5501.0,113.01,10.0,0.00,1161,Henkilöstöpalvelut
13,678,Raahen kaupunki,1791817-6,25_7,GRENKELEASING OY,2170416-2,FI,50.00,240101,4890,Muut vuokrat,3021.0,113.01,10.0,0.00,3117,Lybeckerinpuiston päiväkoti
14,678,Raahen kaupunki,1791817-6,25_7,GRENKELEASING OY,2170416-2,FI,50.00,240101,4890,Muut vuokrat,3041.0,113.01,10.0,0.00,3272,Lybeckerin päiväk:n esiopetus
15,678,Raahen kaupunki,1791817-6,25_8,GRENKELEASING OY,2170416-2,FI,13.01,240101,4341,Toimistopalvelut,5501.0,113.01,10.0,0.00,1161,Henkilöstöpalvelut
16,678,Raahen kaupunki,1791817-6,25_8,GRENKELEASING OY,2170416-2,FI,100.00,240101,4890,Muut vuokrat,3021.0,113.01,10.0,0.00,3117,Lybeckerinpuiston päiväkoti
17,678,Raahen kaupunki,1791817-6,25_9,GRENKELEASING OY,2170416-2,FI,13.01,240101,4341,Toimistopalvelut,5501.0,113.01,10.0,0.00,1161,Henkilöstöpalvelut
18,678,Raahen kaupunki,1791817-6,25_9,GRENKELEASING OY,2170416-2,FI,50.00,240101,4890,Muut vuokrat,3021.0,113.01,10.0,0.00,3117,Lybeckerinpuiston päiväkoti
19,678,Raahen kaupunki,1791817-6,25_9,GRENKELEASING OY,2170416-2,FI,50.00,240101,4890,Muut vuokrat,3041.0,113.01,10.0,0.00,3272,Lybeckerin päiväk:n esiopetus

In [71]:
tilit = ['tili', 'tilin_nimi']

In [72]:
tili_data = data[tilit]

In [73]:
tili_data

       tili                      tilin_nimi
0      4830  Koneiden ja laitteiden vuokrat
1      4341                Toimistopalvelut
2      4890                    Muut vuokrat
3      4341                Toimistopalvelut
4      4890                    Muut vuokrat
...     ...                             ...
49429  4470                   Muut palvelut
49430  4470                   Muut palvelut
49431  4470                   Muut palvelut
49432  2569                      Muut velat
49433  4830  Koneiden ja laitteiden vuokrat

[49434 rows x 2 columns]

In [74]:
tili_data.drop_duplicates(inplace=True)

/tmp/ipykernel_22640/3724821656.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tili_data.drop_duplicates(inplace=True)

In [75]:
tili_data

        tili                      tilin_nimi
0       4830  Koneiden ja laitteiden vuokrat
1       4341                Toimistopalvelut
2       4890                    Muut vuokrat
20      4370                     Vakuutukset
105     4460      Muut yhteistoimintaosuudet
...      ...                             ...
38410   1160                Kuljetusvälineet
40533   1102   Kiinteistöjen liittymismaksut
41215  46009  Sis. aineet, tarvikkeet, tavar
46290   1248   Liittymismaksut palautettavat
46543   4739      Avustukset kotitalouksille

[72 rows x 2 columns]

In [76]:
tili_data.to_csv('tili_data.csv', index=False)

In [77]:
data

,kuntanro,kunta,kunta_y-tunnus,tosite,toimittaja,toim_y-tunnus,maakoodi,veroton_osuus,tositepv,tili,tilin_nimi,palveluluokka,summa,alv-koodi,veron_osuus,kustannuspaikka,kustannuspaikan_nimi
0,678,Raahen kaupunki,1791817-6,25_1,SIEMENS FINANCIAL SERVICES OY,2008697-2,FI,532.39,240101,4830,Koneiden ja laitteiden vuokrat,5501.0,660.16,35.0,127.77,5130,Kone- ja kuljetustoiminta
1,678,Raahen kaupunki,1791817-6,25_2,GRENKELEASING OY,2170416-2,FI,13.01,240101,4341,Toimistopalvelut,5501.0,113.01,10.0,0.00,1161,Henkilöstöpalvelut
2,678,Raahen kaupunki,1791817-6,25_2,GRENKELEASING OY,2170416-2,FI,100.00,240101,4890,Muut vuokrat,3251.0,113.01,10.0,0.00,2090,Raahe-opisto
3,678,Raahen kaupunki,1791817-6,25_3,GRENKELEASING OY,2170416-2,FI,13.01,240101,4341,Toimistopalvelut,5501.0,113.01,10.0,0.00,1161,Henkilöstöpalvelut
4,678,Raahen kaupunki,1791817-6,25_3,GRENKELEASING OY,2170416-2,FI,100.00,240101,4890,Muut vuokrat,3021.0,113.01,10.0,0.00,3117,Lybeckerinpuiston päiväkoti
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49429,678,Raahen kaupunki,1791817-6,25_27061,RIVENTS OY,2811063-1,FI,140.00,241216,4470,Muut palvelut,NaN,527.10,36.0,35.70,5449,Liikunnallinen elämäntapa
49430,678,Raahen kaupunki,1791817-6,25_27061,RIVENTS OY,2811063-1,FI,140.00,241216,4470,Muut palvelut,NaN,527.10,36.0,35.70,5449,Liikunnallinen elämäntapa
49431,678,Raahen kaupunki,1791817-6,25_27061,RIVENTS OY,2811063-1,FI,140.00,241216,4470,Muut palvelut,NaN,527.10,36.0,35.70,5449,Liikunnallinen elämäntapa
49432,678,Raahen kaupunki,1791817-6,25_27062,TYRNÄVÄN KUNTA,0190140-9,FI,5777.03,241231,2569,Muut velat,NaN,5777.03,10.0,0.00,,
49433,678,Raahen kaupunki,1791817-6,25_27063,RAAHEN NAISVOIMISTELIJAT,1461382-8,FI,50.00,241231,4830,Koneiden ja laitteiden vuokrat,3901.0,50.00,10.0,0.00,2610,Kulttuuri/hallinto

In [78]:
kustannuspaikat = ['kustannuspaikka', 'kustannuspaikan_nimi']

In [79]:
paikka_data = data[kustannuspaikat]

In [80]:
paikka_data

      kustannuspaikka         kustannuspaikan_nimi
0                5130    Kone- ja kuljetustoiminta
1                1161           Henkilöstöpalvelut
2                2090                 Raahe-opisto
3                1161           Henkilöstöpalvelut
4                3117  Lybeckerinpuiston päiväkoti
...               ...                          ...
49429            5449    Liikunnallinen elämäntapa
49430            5449    Liikunnallinen elämäntapa
49431            5449    Liikunnallinen elämäntapa
49432
49433            2610           Kulttuuri/hallinto

[49434 rows x 2 columns]

In [81]:
paikka_data.drop_duplicates(inplace=True)

/tmp/ipykernel_22640/3679986135.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  paikka_data.drop_duplicates(inplace=True)

In [82]:
paikka_data

      kustannuspaikka            kustannuspaikan_nimi
0                5130       Kone- ja kuljetustoiminta
1                1161              Henkilöstöpalvelut
2                2090                    Raahe-opisto
4                3117     Lybeckerinpuiston päiväkoti
9                3272   Lybeckerin päiväk:n esiopetus
...               ...                             ...
29858            5123  Virkistysalueiden peruskorjaus
31555            2971              Kehittämishankkeet
40169            1001              Kunnalliset vaalit
48610            1220    Monial.yhteispalveluverk MYP
49153            1226                        Hallinto

[213 rows x 2 columns]

In [83]:
paikka_data.to_csv('paikka_data.csv', index=False)